<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>contraseña</label>
        <input name="password">
        <br/>
        <input type="submit">
    </form>
    <p>¿No estás registrado?</p><a href="/registeruser"> Registrarse</a>
    <br/>
    <h1>Logueate usando Github!</h1>
    <a href="api/git/github"> <button>Entrar con Github</button> </a>
    <br>
</div>
<script src="/js/login.js"></script>