<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <label>Nombre:</label>
        <input name="first_name">
        <br/>
        <label>Apellido:</label>
        <input name="last_name">
        <br/>
        <label>email:</label>
        <input name="email">
        <br/>
        <label>age:</label>
        <input name="age">
        <br/>
        <label>password:</label>
        <input name="password">
        <br/>
        <input type="submit">
        <br/>
    </form>
    <p>¿Ya tienes una cuenta? Ingrega aquí</p> <a href="/loginuser">Logearse</a>
</div>
<script src="/js/register.js"></script>